protobuf<3.20,>=3.9.2
absl-py>=0.7.0
gast==0.2.2
numpy<1.19.0,>=1.16.0
wheel>=0.26
six>=1.12.0
tensorboard<2.12.0,>=2.11.0
tensorflow-estimator<2.12.0,>=2.11.0
termcolor>=1.1.0
grpcio>=1.8.6
keras-applications>=1.0.8
keras-preprocessing>=1.1.0
